body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.active {
    color: blue;
}

.banner {
    height: 400px;
    background: #ddd;
    text-align: left;
    padding: 60px;
}

.hq {
    padding: 40px;
}

.hq-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
}