body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.active {
    color: blue;
}